extends layout.pug

block content
  #setlist
    h1 #{setlist.name}
    each song in setlist.songs
      li(data-song=song.filename)
        a(href='/' + song.filename) #{song.name}

block footer
  #left.footer-buttons
    button(onclick='prev()') 
      span UP
  #middle.footer-buttons
    button(onclick='select()')
      span SELECT
  #right.footer-buttons
    button(onclick='next()')
      span DOWN

block scripts
  script.
    var choosenSongIndex = 0;
    var totalSongsCount = #{setlist.songs.length};
    window.onload = function() {
      let urlParams = new URLSearchParams(window.location.search)
      if (urlParams.has('song')) {
        let allSongs = document.querySelectorAll("#setlist li");
        allSongs.forEach(function(song, i) {
          if(song.getAttribute("data-song") == urlParams.get('song')) {
            choosenSongIndex = i;
          }
        });
      }
      selectSong(choosenSongIndex);
    }

    function selectSong(i) {
      let allSongs = document.querySelectorAll("#setlist li");
      allSongs.forEach(function(song) {
        song.classList.remove("active");
      });
      allSongs[i].classList.add("active");
      allSongs[i].scrollIntoView();
    }

    function next() {
      choosenSongIndex++;
      if (choosenSongIndex == totalSongsCount) {
        choosenSongIndex = 0;
      }
      selectSong(choosenSongIndex);
    }

    function prev() {
      choosenSongIndex--;
      if (choosenSongIndex == -1) {
        choosenSongIndex = totalSongsCount - 1;
      }
      selectSong(choosenSongIndex);
    }

    function select() {
      document.querySelector("#setlist li.active a").click();
    }

    window.addEventListener("keydown", function(e) {
      if (e.keyCode == #{keycodes.left}) {
        prev();
      }
      if (e.keyCode == #{keycodes.middle}) {
        select();
      }
      if (e.keyCode == #{keycodes.right}) {
        next();
      }
    });
