extends layout.pug

block content
  #setlist
    h1 Settings
    h3 #{error}

  form(role='form', method='POST', id='select-setlist')
    each setlist, index in setlists
      div
        input(type='radio', name='setlist', value=index, id=index)
        label(for=index)
          small #{setlist}

block footer
  #left.footer-buttons
    button(onclick='prev()') 
      span UP
  #middle.footer-buttons
    button(onclick='select()')
      span SELECT
    a.song-button#menu(href='/')
        span.small 2
        span.small x
        span.small MENU
  #right.footer-buttons
    button(onclick='next()')
      span DOWN

block scripts
  script.

    var setlist = 0;
    var total = #{setlists.length};

    function menu() {
      document.querySelector("#middle.footer-buttons a.song-button#menu").click();
    }

    function next() {
      setlist++;
      if (setlist == total) {
        setlist = 0;
      }
      document.forms["select-setlist"][setlist].checked=true;
    }

    function prev() {
      setlist--;
      if (setlist == -1) {
        setlist = total - 1;
      }
      document.forms["select-setlist"][setlist].checked=true;
    }

    function select() {
      document.forms["select-setlist"].submit();
    }

    addEventListener("keydown", (e) => {
      if (e.keyCode == #{keycodes.left}) {
        prev();
      }
      if (e.keyCode == #{keycodes.middle}) {
        select();
      }
      if (e.keyCode == #{keycodes.right}) {
        next();
      }
    });

    addEventListener("double", (e) => {
      if (e.detail.button == "middle") {
        menu();
      }
    });

    addEventListener("load", (e) => {
      if (#{selectedIndex} >= 0) {
        document.forms["select-setlist"][#{selectedIndex}].checked=true;
      }
    });
