extends layout.pug

block content
  #setlist
    h1 Settings
    if error
      h3.highlight Setlist auswählen:

  form(role='form', method='POST', id='select-setlist')
    each setlist, index in setlists
      div
        input(type='radio', name='setlist', value=index, id=index)
        label(for=index) #{setlist}

block footer
  footer(style="margin-top: 300px;")
    .left
      .button.click(onclick='prev()')
        span.icon.left-click
        .text UP
    .middle
      .button.click(onclick='select()')
        span.icon.middle-click
        .text SELECT
      .button.hold(onclick='menu()')
        span.icon.middle-hold
        .text MENU
    .right
      .button.click(onclick='next()')
        span.icon.right-click
        .text DOWN

block scripts
  script.

    var setlist = 0;
    var total = #{setlists.length};

    function menu() {
      location.href = "/";
    }

    function next() {
      setlist++;
      if (setlist == total) {
        setlist = 0;
      }
      document.forms["select-setlist"][setlist].checked = true;
    }

    function prev() {
      setlist--;
      if (setlist == -1) {
        setlist = total - 1;
      }
      document.forms["select-setlist"][setlist].checked = true;
    }

    function select() {
      document.forms["select-setlist"].submit();
    }

    addEventListener("shortPress", (e) => {
      if (e.detail.button == "left") {
        prev();
      }
      if (e.detail.button == "middle") {
        select();
      }
      if (e.detail.button == "right") {
        next();
      }
    });

    addEventListener("longPress", (e) => {
      if (e.detail.button == "middle") {
        menu();
      }
    });

    addEventListener("load", (e) => {
      if (#{selectedIndex} >= 0) {
        document.forms["select-setlist"][#{selectedIndex}].checked=true;
      }
    });
