extends layout.pug

block content
  h1 #{song.name}

  div#lyrics(class=(flex ? 'flex' : '' )) !{lyrics}


block footer
  footer(style="margin-top: 300px;")
    .left
      .button.click(onclick='scrollUp()') 
        .icon-wrapper
          span.icon.left-click
        .text UP
      if prevSong
        .button.hold(onclick='prev()')
          .icon-wrapper
            span.icon.left-hold
          .text#prev(title=prevSong.filename) #{prevSong.name}
    .middle
      .button.click(onclick='setlist()')
        .icon-wrapper
          span.icon.middle-click
        .text SETLIST
    .right
      .button.click(onclick='scrollDown()')
        .icon-wrapper
          span.icon.right-click
        .text DOWN
      if nextSong
        .button.hold(onclick='next()')
          .icon-wrapper
            span.icon.right-hold
          .text#next(title=nextSong.filename) #{nextSong.name}


block scripts
  script.
    function setlist() {
      location.href = "/?song=" + location.pathname.substring(1, location.pathname.length);
    }

    function prev() {
      let prevSong = document.getElementById('prev');
      if (prevSong) {
        location.href = `/${prevSong.title}`;
      }
    }

    function next() {
      let nextSong = document.getElementById('next');
        if (nextSong) {
          location.href = `/${nextSong.title}`;
        }
    }

    function scrollDown() {
      document.getElementById("container").scrollBy(0, window.innerHeight / 2);
    }

    function scrollUp() {
      document.getElementById("container").scrollBy(0, -(window.innerHeight / 2));
    }


    addEventListener("shortPress", (e) => {
      if (e.detail.button == "left") {
        scrollUp();
      }
      if (e.detail.button == "middle") {
        setlist();
      }
      if (e.detail.button == "right") {
        scrollDown();
      }
    });

    addEventListener("longPress", (e) => {
      if (e.detail.button == "left") {
        prev();
      }
      if (e.detail.button == "right") {
        next();
      }
    });
